* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #fff;
}

.container {
    margin: 20px auto;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.head {
    text-transform: uppercase;
}

.head h2 , .head p{
    margin-bottom: 10px;
}

input {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    outline: none;
    border: none;
    padding: 0 5px;
    background-color: #111;
    color: white;
    caret-color: rgb(88, 6, 240);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

input:focus {
    background-color: black;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.price input {
    width: 20%;
}

.price .total {
    background-color: rgb(88, 6, 240);
    height: 40px;
    padding: 3px;
    display: flex;
    align-items: center;
}

.total::before {
    content: "total: ";
}

button {
    height: 30px;
    width: 100%;
    border: none;
    margin: 5px 0;
    padding: 5px;
    color: white;
    transition-duration: 0.5s;
    background-color:rgb(44, 6, 94);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}



button:hover {
    letter-spacing: 1px;
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.btnsearch {
    display: flex;
    justify-content: space-between;
}

.btnsearch button {
    flex-basis: 40%;
}


table {
    width: 100%;
    
}

table thead th{
    background-color: #111;
    padding: 10px;
    text-transform: uppercase;
}

table button {
    width: fit-content;
}

@media (max-width:910px) {
    .hiden {
        display: none;
    }
}